@import "tailwindcss";

#root {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
